.floatin{
	padding:0 0.571428rem;
	width: 70% !important;
	border-right:0.074285rem solid silver;
}
.floatin:last-child{
	border-right: 0;
}
.floatin>div{
	float: left;
}
.floatin>div:first-child{
	width: 30%;
}
.floatin>div:nth-child(2){
	padding:0.571428rem 0.571428rem;
}
.floatin>div p:nth-child(1){
	padding-bottom: 0.571428rem;
}
.floatin>div span:nth-child(1){
	padding-right: 0.571428rem;
}